body{
  background-color: black;
}

.nav-logo{
    text-align:center;
}

.nav-logo img{
    width:25%;
    max-width:150px;
}

nav ul{
    display:flex;
    padding:0;
    margin:0;
    justify-content:center;
}

nav li{
    margin:0 10px 0 10px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero-title{
    margin: 100px;
}

small{
    font-size: 50%;
    vertical-align: top;
}

.hero-title h1{
  color: white;
  font-size: 48px;
  text-align: center;
}

.hero-title h6{
  color: white;
  text-align: center;
  margin: -30px;
}

.intro-text{
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.intro-text p{
  color: white;
  text-align: justify;
}

.footer{
  color: black;
  background-color: white;
  margin: 20px;
  padding-top: 10px;
}

h3{
    color: white;
}

.cv-main{
    margin: 20%;
    item-align: center;
    color:white;
}